/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-30, 12:11:59
    Author     : 95
*/

body{
    width: 900px;
    margin: 0 auto;
}
#app{
    margin: 20px 0;
}
.text-align-center{
    text-align: center;
}
.margin-left-110{
    margin-left: 110px;
}
.error-message p{
    margin:5px 0;
}